
#text-sl, #text-tl, #text-align {
	/* border: 1px solid black; */
	width: 31%;
	float: left;
	margin: 0.2em;
	padding: 0.5em;
}

textarea {
	width: 90%;
	height: 30em;
}

#controls {
	width: 100%;
	clear: both;
}

#current-sentence {
	width: 100%;
	clear: both;
	height: 15em;
}

#sl-row, #tl-row, #align-row {
	width: 100%;
	clear: both;
	text-align: center;
}

#align-row {
	height: 3em;
}

.token {
	display: inline-block;
	padding-right: 0.5em;
}

tag {
	font-size: 0.7em !important;
	color: green;
}
tag::before {
	content: "<";
	-webkit-filter: brightness(85%); /* Safari 6.0 - 9.0 */
	filter: brightness(85%);
	color: silver !important ;
}
tag::after {
	content: ">";
	-webkit-filter: brightness(85%); /* Safari 6.0 - 9.0 */
	filter: brightness(85%);
	color: silver !important ;
}
